body {
    font-family: sans-serif;
    text-align: center;
    color: white;
}

[class^="col"] {
    padding: 0;
}

img {
    object-fit: cover;
    user-select: none;
}

#carousel {
    position: relative;
}

#gallery img {
    width: 100%;
    border-radius: 50px;
    height: 500px;
}

#carousel .button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    cursor: pointer;
    opacity: 0;
    padding: 1rem;
    font-size: 2rem;
    transition: opacity 200ms;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#carousel:hover .button {
    opacity: 0.5;
}

#thumbnails img {
    width: 100%;
    height: calc(100% / 5);
    border-radius: 20px;
    position: relative;
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: filter 300ms;
    cursor: pointer;
}

#thumbnails img:not(.active) {
    filter: brightness(0.6);
}

#thumbnails img {
    width: calc(100% / 5);
    height: 150px;
}